<html>
    <head>
        <title>Community Events Board</title>
    </head>
    <body>
      <h1>Add Events</h1>
      <form method = "post" action = "/add">
      <p>Event Name</p>
      <input type = "text" name = "name">
      <br>
      <p>Event Date</p>
      <input type = "text" name = "date">
      <br>
      <p>Event Description</p>
      <input type = "text" name = "description">
      <br>
      <p>Event Category</p>
      <input type = "text" name = "category">
      <br>
      <input type = "submit" value = "Submit"/>
    </form>
    </body>
</html>
