<html>
    <head>
        <title>Community Events Board</title>
        <style>
        .event-list {
                display: {{test}};
              }
        h1 {
              width: 50%;
              padding: 15px;
              border: 5px solid gray;
              margin: auto;
              text-align: center;
            }
        </style>
    </head>
    <body>
      <h1>Homepage</h1>
      <div class="event-list">
      <form method = "post" action = "/details">
        <p>Select Events</p>
        <ul>
          {% for event in events %}
            <li><input type = "radio" name = "_id" value = {{event._id}}> - {{event.name}} - {{event.date}} - {{event.category}}</li>
          {% endfor %}
        </ul>
      <p>View Details</p>
      <input type = "submit" value = "Submit"/>
      </form>
      </div>
      <form method = "post" action = "/filter">
      <p>Filter Events by Category</p>
      <input type = "radio" value = "Creativity" name = "category">Creativity
      <br>
      <input type = "radio" value = "Activity" name = "category">Activity
      <br>
      <input type = "radio" value = "Service" name = "category">Service
      <br>
      <input type = "submit" value = "Submit"/>
    </form>
    <button><a href="/addevent">Add Events</a></button>
    <button><a href="/register">Register For An Event</a></button>
    <button><a href="/attending">View Event Attendies</a></button>
    </body>
</html>
