<html>
    <head>
        <title>Community Events Board</title>
    </head>
    <body>
      <h1>Register for An Event</h1>
      <form method = "post" action = "/registeradd">
      <p>Event Name</p>
      <input type = "text" name = "ename">
      <br>
      <p>Your Name</p>
      <input type = "text" name = "uname">
      <br>
      <p>Your Email</p>
      <input type = "text" name = "email">
      <br>
      <br>
      <input type = "submit" value = "Submit"/>
    </form>
    </body>
</html>
