<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form method = "post" action = "/signup1">
        <p>Email</p>
        <input type = "text" name = "email"/>
        <br>
        <p>Password</p>
        <input type = "text" name = "password"/>
        <br>
        <p>Name</p>
        <input type = "text" name = "name"/>
        <br>
        <br>
        <input type = "submit" name = "Submit"/>
        <br>
        </form>
        <button><a href="/index">Login</a></button>
    </body>
</html>
